@model EmployeeRepositoryExample.Models.ViewModels.DetailsVM

<form method="post" style="background-image:radial-gradient(#c973ff, #aebaf8)" asp-action="Upsert">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary text-dark text-center"> Edit Detials of the Company </h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="details.Name"> <b> Company Name </b></label> <br />	
			<input asp-for="details.Name" class="form-control" />
			<span asp-validation-for="details.Name" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="details.Address"> <b> Company Address </b> </label>
			<textarea asp-for="details.Address" rows="3" class="form-control"></textarea>
			<span asp-validation-for="details.Address" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="details.Range"> <b> Salary Range </b> </label>
			<input asp-for="details.Range" class="form-control" />
			<span asp-validation-for="details.Range" class="text-danger"></span>
		</div>

		<div class="mb-3 col-6">
			<label asp-for="details.EmployeeId"> <b> Names of Employees </b> </label>
			<select asp-for="details.EmployeeId" asp-items="@Model.EmployeeList" class="form-select">
				<option disabled selected>-----Select Employee-----</option>
			</select>
		</div>

		<div class="mb-3 col-6">
			<label asp-for="details.PositionId"> <b> Names of Employees </b> </label>
			<select asp-for="details.PositionId" asp-items="Model.PositionList" class="form-select">
				<option disabled selected>-----Select Designation-----</option>
			</select>
		</div>

		<div>
			<button type="submit" class="btn btn-outline-dark" style="width:150px">Edit</button>
			<a asp-controller="Details" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back to List
			</a>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
