@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Name List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-dark">
                <i class="bi bi-plus-circle"></i> &nbsp; Add a new Employee
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-bordered table-striped text-center" style="width:100%;background-image:linear-gradient(#50d5b7,#067d68)">
        <thead>
            <tr>
                <th> Name </th>
                <th> Technology </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td> 

                    <td>
                        @obj.Technology
                    </td> 

                    <td>
                        <div class="text-center">
                            <a class="btn btn-outline-dark mx-2" asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.Id"> Edit </a>
                            <a class="btn btn-outline-dark mx-2" asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id"> Delete </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
