<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeRepositoryExample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeRepositoryExample.styles.css" asp-append-version="true" />
</head>
<body style="background-image:linear-gradient(#fed0c5,#8b47c5)">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="background-image:linear-gradient(#fd9869,#fec9c9)">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Repository Example</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" href="#" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Employees Credentials 
                            </a>
                            <div class="dropdown-menu" style="background-image:linear-gradient(#0c7bb3,#f2bae8)">
                                <a class="dropdown-item text-dark"  asp-area="Admin" asp-controller="Employee" asp-action="Index">Details</a>
                                <a class="dropdown-item text-dark"  asp-area="Admin" asp-controller="Position" asp-action="Index">Designation</a>
                                <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Details" asp-action="Index">Company</a>

                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer fixed-bottom text-muted">
        <div class="container">
            &copy; 2023 - EmployeeRepositoryExample - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
